*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}