<div class="d-flex justify-content-between align-items-center py-7">
    <div class="d-flex align-items-center">
      <h2 class="fs-4 lh-33 fw-bold me-8">Assignment</h2>
      <div class="dropdown">
        <a class="d-flex align-items-center text-dark fw-bold" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          All Courses
          <span class="material-icons-outlined text-success ms-3">expand_more</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex">
      <span class="material-icons-outlined me-6">search</span>
      <span class="material-icons">notifications_active</span>
    </div>
  </div>