<nav class="nav d-flex flex-column py-7 ps-7 bg-light vh-100">
        <h1 class="mb-7">
            <a href="../pages/index.html">
                <img src="../assets/images/logo-ANSWER.svg" alt="logo-ANSWER">
            </a>
        </h1>
        <a class="nav-link link-dark fw-bold d-flex align-items-center mb-6">
            <span class="material-icons me-5">assessment</span>
            Dashboard
        </a>
        <a class="nav-link link-dark fw-bold d-flex align-items-center mb-6" href="#">
            <span class="material-icons me-5">forum</span>
            Question
        </a>
        <a class="nav-link link-dark fw-bold d-flex align-items-center mb-6 text-success active" href="#">
            <span class="material-icons me-5">assignment</span>
            Assignment
        </a>
        <a class="nav-link link-dark fw-bold d-flex align-items-center mb-6" href="#">
            <span class="material-icons me-5">video_library</span>
            Course
        </a>
        <a class="nav-link link-dark fw-bold d-flex align-items-center mb-6" href="#">
            <span class="material-icons me-5">group</span>
            Admin
        </a>
        <a class="nav-link link-dark fw-bold d-flex align-items-center" href="#">
            <span class="material-icons me-5">settings</span>
            Settings
        </a>
    <div class="d-flex align-items-center mt-auto">
        <div class="profile">
            <img src="../assets/images/andychen.jpeg" alt="profile">
        </div>
        <div class="ms-5">
            <p class="fw-bold">Andy Chen</p>
            <p class="mt-1 text-secondary fs-7">andy0401@gmail.com</p>
        </div>
    </div>
  </nav>
  